*{
    margin: 0;
    padding: 0;
    font-family: "Moderustic", sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
background-size: cover;
}

.Navbar{
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;

}

.Firstsec{
    flex-grow: 1;
    margin-left: 100px;
}

.Firstsec a:hover{
    text-decoration: underline;
    color:#4779C4;
}
.Firstsec a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: black;

}

.logo{
    flex-grow: 1;
    margin-left: 100px;
}
.logo img{
    width: 200px;
    height: 80px;
    
}

.Secondsec a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.Secondsec a:hover{
    text-decoration: underline;
    color:#4779C4;
}

.icons{
    flex-grow: 1;
    margin-left: 100px;
}
.icons a{
    color: black;
    padding: 15px;
    font-size: 20px;
    
}
.icons a:hover{
    color: #3383c1;
    
}
.backgroundvideo{
    height: 610px;
    width: 100%;
    padding-top: 80px;
    
    
}
.backgroundvideo video{
   object-fit: cover;
   height: 650px;
   width: 100%;
   
}

.typewriter {
    position: absolute;
    top: 200px;
    left: 550px;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      color: #ffffff;
      font-size: 70px;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
.contentvideo h1{

    font-size: 80px;
    color: #ffff;
}
.contentvideo{
    position: absolute;
    top: 280px;
    left: 580px;
}

.heading{
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: #0a2f68;
}

.newsection{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    
}

.card1{
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;

}
.card1 img{
    height: 240px;
    width: 398px;
    animation: fadein .5s; 
    transition: transform .5s ease;
    
}
.card1 img:hover{
    transform: scale(1.1);
    
}
.card1 h1{
    padding: 10px;

}
.card1 p{
    padding: 10px;
    font-size: 16px;
}

.card1 a{
    padding: 10px;
    font-size: 15px;
    color: brown;
}
.card2{
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;

}
.card2 img{
    height: 240px;
    width: 398px;
    animation: fadein .5s; 
    transition: transform .5s ease;
    
}
.card2 img:hover{
    transform: scale(1.1);
    
}
.card2 h1{
    padding: 10px;

}
.card2 p{
    padding: 10px;
    font-size: 16px;
}

.card2 a{
    padding: 10px;
    font-size: 15px;
    color: brown;
}
.card3{
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;

}
.card3 img{
    height: 240px;
    width: 398px;
    animation: fadein .5s; 
    transition: transform .5s ease;
    
}
.card3 img:hover{
    transform: scale(1.1);
    
}
.card3 h1{
    padding: 10px;

}
.card3 p{
    padding: 10px;
    font-size: 16px;
}

.card3 a{
    padding: 10px;
    font-size: 15px;
    color: brown;
}

.footer{
    margin-top: 50px;
    background-color: gray;
}

.footer h3{
      text-align: center;
      font-size: 30px;
      padding-top: 20px;
      color: #ffffff;
}
.footer p{
      text-align: center;
      font-size: 20px;
      padding-top: 10px;
      color: #ffffff;
}

.footer-icons{
    font-size: 50px;
    text-align: center;
    padding: 10px ;
    
}

.footer-icons a{
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 1206px) {
    body {
      background-color: lightblue;
    }
    .Firstsec{
        display: flex;
        margin-left:0px ;
        flex-shrink: 4;
    }
    .typewriter {
        position: absolute;
        top: 200px;
        left: 200px;
    }
    .contentvideo{
        position: absolute;
        top: 280px;
        left: 200px;
    }
  }

  @media only screen and (max-width: 1111px){
    
      .Secondsec{
        display: flex;
        flex-shrink: 3;
      }
      .icons{
        display: flex;
        flex-shrink: 3;
      }
      .icons{
        flex-shrink: 4;
        margin-left: 0px;
    }
  }

  @media only screen and (max-width: 991px){
   
      .Firstsec{
        display: flex;
        flex-direction: column;
        margin-left:0px ;
        flex-shrink: 4;
    }
      .Secondsec{
        display: flex;
        flex-direction: column;
        flex-shrink: 3;
      }
      .icons{
        display: flex;
        flex-direction: column;
        flex-shrink: 3;
      }
      
  }

  @media only screen and (max-width: 797px){
    .typewriter {
    position: absolute;
    top: 200px;
    left: 10px;
   }
   .contentvideo{
    position: absolute;
    top: 280px;
    left: 10px;
}
  }